<div class="mt-2">
    <h4 class="completed-workout-name">{{category}}</h4>
    <p class="mt-1">
        <a class="btn" data-toggle="collapse" href="#collapseDetails" role="button" aria-expanded="false" aria-controls="collapseDetails">
        View Details
        </a>
    </p>
    <div class="collapse" id="collapseDetails">
        <div class="card card-body">
            <p>Date: {{workout_date}}</p>
            <p>Distance: {{distance}}</p>
            <p>Duration: {{duration}}</p>
            <p>Workout Details: {{details}}</p>
        </div>
    </div>

    <button class="delete-workout btn bye-btn" data-id="{{id}}"><i class="fas fa-trash-alt"></i> Delete Workout</button>
</div>